<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="UTF-8"></meta>
<title>Saisie d'un etudiant</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" href="../static/css/mystyle.css"
th:href="@{/css/mystyle.css}"/>

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> -->
</head>
<body layout:fragment="content">
<p></p>
<div class="col-md-6 col-sm-6 col-xs-12 spacer col-md-offset-3">
<div class="panel panel-default">
               
				
	<div class="panel-heading">Saisie  </div>
	<div class="panel-body">
	<form th:action="@{SaveEtudiant}" method="post" th:object="${etudiant}">                              <!-- on précise que l'objet qui va nous interreseer
																					 est l'objet etudiant -->
		   <div class="form-group"> 
		   <p></p>
			<label class="control-label">Nom</label>
			<input type="text" th:field="*{nom}" name="nom" class="form-control"/>
			<span class="text-danger" th:errors="*{nom}"></span>
			</div>
			 <div class="form-group"> 
		   <p></p>
			<label class="control-label">Prenom</label>
			<input type="text" th:field="*{prenom}" name="prenom" class="form-control"/>
			<span class="text-danger" th:errors="*{prenom}"></span>
			</div>
			
			<div class="form-group">
			<label class="control-label">login</label>
			<input type="text" th:field="*{login}" name="login" class="form-control"/> <!-- on effectue le databinding using th:field
																										 -->
			<span class="text-danger" th:errors="*{login}"></span>
			</div>
			<div class="form-group">
			<label class="control-label">Password</label>
			<input type="password" th:field="*{passWord}" name="passWord" class="form-control"/> <!-- on effectue le databinding using th:field
																										 -->
			<span class="text-danger" th:errors="*{passWord}"></span>
			</div>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>
		</div>
	
	
		
	</div>
</div>


</body>
</html>